{
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "singleQuote": true,
  "bracketSpacing": true,
  "semi": false,
  "jsxBracketSameLine": true,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "tabWidth": 2,
  "embeddedLanguageFormatting": "auto"
}
